{{!-- we use double brackets to use varibales  {}  --}}
{{!-- #each is looping through our members in indec.js --}}
{{!-- ==============add member form =============== --}}
<h1 class="text-center mb-5">{{title}}</h1>

<form action="/members" method="POST" class="mb-5">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <input type="submit" value="Add member" class="btn btn-primary btn-block">
</form>

{{!-- 
its important to have name attribute in input, thats what we 
gonna send in req body from form 
 --}}

{{!-- =======listing our members===== --}}

<h3>Members</h3>
<ul class="list-group">
  {{#each members}}
  <li class="list-group-item">
    {{this.name}}:{{this.email}}
  </li>
  {{/each}}
</ul>

<a href="/members" class="btn btn-light mt-5" target="_blank">Visit Api</a>